{% extends 'base.html' %}

{% block title %}<title>Edit Product</title>{% endblock %}
{% block content %}
<h1>Edit Product</h1>
<a href="{% url 'home' %}">Back to Home</a>
<form method='POST'>
    {% csrf_token %}
    <input type="text" name="product_name" value="{{product.name}}" placeholder="Product Name" >
    <input type="text" name="amount" value="{{product.amount}}" placeholder="Amount" >
    <input type="text" name="product_price" value="{{product.price}}" placeholder="Product Price" >
    <button type="submit" value="UpdateProduct">Edit Product</button>
{% endblock %} 