{% extends "base.html" %}

{% block title %}<title>Home</title>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    th {    
        background-color: #f2f2f2;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    tr:hover {
        background-color: #f1f1f1;
    }
</style>
{% endblock %}
{% block content %}
<h1>Welcome to the Savings App</h1>
<table>
    <a href ="{% url 'register' %}">Register an Account?</a>
    <tr>
        <th>Action</th>
        <th>Account Number</th>
        <th>UserName</th>
        <th>Name</th>
        <th>Email</th>
        <th>Balance</th>
    </tr>
    {% for ledger in ledgers %}
    <tr>
        <td><a href="{% url 'cashin' %}?account_number={{ledger.account_number.savings_account_number}}">Cash In</a>
            <a href="{% url 'cashout' %}?account_number={{ledger.account_number.savings_account_number}}">Cash Out</a></td>
        <td>{{ ledger.account_number.savings_account_number }}</td>
        <td>{{ ledger.account_number.username }}</td>
        <td>{{ ledger.account_number.fullname }}</td>
        <td>{{ ledger.account_number.email }}</td>
        <td>{{ ledger.total_balance }}</td>
    </tr>
    {% endfor %}
{% endblock %}